
/*.navbar-brand
{
padding: 4px 0px;
height: 80px;
display: block;
float: none;
}

.navbar-brand>img {
display: block;
max-height: 100%;
max-width: 100%;
margin: auto 40%;
}
*/
.logo_image{
	width:20%;
	margin-bottom: -8%;
	margin-top: -8%;
	margin-left: -1%;
}

.banner_image{
	width: 100%;
}

.pagination .page-link { color: black; }

.pagination .page-item.active .page-link { color: white; background-color: #333333; border-color: #333333; }

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
background-color: #000;
}

.pagination .page-item.active .page-link:hover {
background-color: #000;
}